/*  your css code here. If applicable */
*{
	padding:0;
	margin:0;
}
body{
	background-color:#f8f8f8;
	font-family: Arial, sans-serif;
}
.header{
	text-align: center;
	font-weight:800;
}
.book-library{
	background-color:#ffffff;
	padding:10px;
	margin:10px;
}
.book{
	background-color:#ffffff;
    padding:10px;
	margin:10px;
}
.book img {
	display:block;
	margin:0 auto;
	max-width:100%;
	height:auto;
}
.book p {
	color:#777777;
}
.book div {
	background-color:#2ecc71;
	color:white;
	text-align:center;
	padding:10px;
	border-radius:5px;
}

